* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .container {
    margin: 1rem;
    text-align: center;
  }
  
  .nav {
    position: absolute;
    background-color: #A87FF3;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    width: 100%;
    height: 50px;
  }
  
  .site-title {
    font-size: 2rem;
  }
  
  .nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 4rem;
  }
  
  .nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
  }
  
  
  .nav li:hover {
    background-color: #777;
    width: 102%;
    height: 102%;
    transition: transform .2s; 
    transform: scale(1.5);
  }

  .nav   form {
    display: flex;
    gap: 0.5rem;
  }

  .nav input {
    padding: 0.4rem 0.8rem;
    border-radius: 4px;
    border: none;
  }

  .nav form button {
    background-color: white;
    border: 2px solid white;
    border-radius: 4px;
    color: #A87FF3;
    padding: 0.3rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
  }